/*--------------------*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  overflow: hidden;
}

.wrapper {
  max-width: 1684px;
  padding: 0 35px;
  margin: 0 auto;
}

.header {
  position: relative;
  z-index: 10;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
}

.logo {
  font-family: "travel-font";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo::before, .logo::after {
  color: #fff;
}

.logo::before {
  content: "\e907";
  font-size: 30px;
  margin-right: 10px;
}

.logo::after {
  content: "\e908";
  font-size: 15px;
}

.menu__button {
  width: 25px;
  height: 25px;
  background: #fff;
}

.title-info {
  height: 100%;
  position: relative;
  z-index: 9;
}

.title-info__bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 51%;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

.title-info__info {
  position: absolute;
  top: 50%;
  width: 35%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.title-info__pos-block {
  margin-bottom: 45px;
}

.title-info__title {
  margin-bottom: 15px;
}

.title-info__text {
  margin-bottom: 75px;
}

.pos-block {
  color: rgba(255, 255, 255, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
}

.pos-block::before {
  font-family: "travel-font";
  content: "\e909";
  font-size: 30px;
  margin-right: 10px;
}

.title {
  font-weight: 700;
  font-size: 55px;
  color: #ffffff;
}

.text {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 167%;
  color: #ffffff;
}

.button {
  display: block;
  position: relative;
  width: 275px;
  height: 80px;
  padding: 30px 60px;
  font-weight: 700;
  font-size: 20px;
  color: #000;
  background: #dead00;
  -webkit-transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  z-index: 0;
}

.button:hover {
  color: #000 !important;
  background-color: #dead00;
  text-shadow: none;
}

.button::before {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 0px;
  width: 100%;
  z-index: -1;
  content: "";
  color: #000;
  background: #ffffff;
  -webkit-transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  -webkit-box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
          box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
}

.button:hover::before {
  bottom: 0%;
  top: auto;
  height: 100%;
}

.footer {
  position: relative;
  bottom: 90px;
  z-index: 9;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.media-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.media-block > a {
  display: block;
  position: relative;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0);
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 25px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.media-block > a::before, .media-block > a::after {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.media-block > a::before {
  font-family: "travel-font";
  color: #fff;
  font-size: 20px;
  z-index: 10;
}

.media-block > a::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 50%;
}

.media-block > a:last-child {
  margin-right: 0;
}

.media-block > a:hover::after {
  width: 35px;
  height: 35px;
}

.media-block__facebook::before {
  content: "\e902";
}

.media-block__facebook:hover::before {
  color: #000caf;
}

.media-block__instagram::before {
  content: "\e903";
}

.media-block__instagram:hover::before {
  color: #883a16;
}

.media-block__vk::before {
  content: "\e900";
}

.media-block__vk:hover::before {
  color: #4d56ca;
}

.media-block__youtube::before {
  content: "\e901";
}

.media-block__youtube:hover::before {
  color: crimson;
}

.arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.arrows__arrow {
  display: block;
  margin-right: 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.arrows__arrow::before {
  font-family: "travel-font";
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.arrows__arrow:last-child {
  margin-right: 0;
}

.arrows__arrow:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.arrows__arrow:active {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.arrows__left::before {
  content: "\e905";
}

.arrows__right::before {
  content: "\e906";
}

.arrows__arrow--inactive::before {
  color: rgba(255, 255, 255, 0.5);
  cursor: default;
}

.arrows__arrow--inactive:hover {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.title-slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.title-slider__control {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 11%;
  z-index: 100;
}

.slider__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slider__control-pos {
  font-size: 15px;
  letter-spacing: 0.08em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 35px;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 99;
}

.slider__control-pos:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.slider__control-pos::after {
  width: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  position: absolute;
  left: 25px;
  top: 40%;
  content: "";
  display: block;
  height: 4px;
  background-color: #fff;
  border-radius: 5px;
}

.slider__control-pos--active {
  color: #fff;
  cursor: inherit;
}

.slider__control-pos--active::after {
  width: 90px;
}

.slider__control-pos--active:hover {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.slider__body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.slider__body img {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100vh;
}
